<header class="container-fluid px-0" style="background-color: #e8f0fe;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>   
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light"> 
      <div>
        <a class="navbar-brand" href="/u">
          <img src="https://lipers24.ru/static/lipers/images/lipers-logo.png" height="100" class="d-inline-block align-top" alt=""/>
        </a>
       </div>
       <div class="collapse navbar-collapse" id="navbarCollapse">
      </div>
    </nav> 
</header>